.menu-icon, #close-icon{
  display: none;
}
.mobile-menu{
  height: 80px;
  background: none;
  border-bottom: 1px solid var(--grayblue);
  display: flex;
  justify-content: space-between;
}
.mobile-menu ul{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.mobile-menu ul li{
  font-size: 2rem;
  margin: 20px 10px;
  display: flex;
  border: 1px solid var(--darkblue);
}
.mobile-menu ul li a{
  padding: 5px;
  color: var(--gray);
}
.mobile-menu ul li a:hover{
  color: var(--blue);
}
.mobile-menu ul li:hover{
  border: 1px solid var(--blue);
  border-radius: 5px;
}
.nav-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo-mauricio{
  display: block;
  margin: 10px;
  height: 350px;
  width: auto;
}
.mobile-menu ul .nav-home{
  margin: 20px 10px;
}
.presentation-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 25px 0;
}
.presentation-card-text{
  padding: 20px;
  padding-top: 80px;
}
.hand-icon{
  background-image: url('./animation/animation-desktop/waving-hand.svg');
  height: 52px;
  width: 52px;
}
h1{ 
  font-size: 5rem;
}
/* .presentation-card-text */ h2{
  font-size: 4rem;
}
.presentation-card figure {
  margin-bottom: 0px;
}
.presentation-card figure img{
  height: 350px;
  padding-top: 20px;
}
button img{
  height: 20px;
}
.button-cv {
  height: 60px;
  width: 200px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.projects-title h1, .abilities-title h1{
  font-size: 4.5rem;
}
.project-card {
  width: 350px; 
}
.project-image {
  width: 350px;
  height: 185px; 
}
.project-info{
  width: 350px;
  height: 35px;
}
.project-info p{
  font-size: 2rem;
}

.project-detail-info p{
  margin: 30px;
  font-size: 2rem;
}
.project-detail-info button{
  width: 80%;
  min-width: 400px;
  max-width: none;
}